*.o
*.obj
*.lo
*.la
*.al
*.so
*.so.[0-9]*
*.dll
*.lib
*.a
*.log
.libs
*.depend
*.layout
*.pyc
*.pyo
__pycache__
*.rej
*~
#*#
.#*
.*.swp
*.layout
.DS_Store
bin/
doc/reference/html/
doc/reference/rtf/
lib/
thirdparty/bin/
thirdparty/lib/
