<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Apache.NMS" version="1.4.0" targetFramework="net40-Client" />
  <package id="Apache.NMS.ActiveMQ" version="1.4.1" targetFramework="net40-Client" />
  <package id="jayrock" version="0.9.16530" targetFramework="net40-Client" />
  <package id="jayrock-json" version="0.9.16530" targetFramework="net40-Client" />
  <package id="MongoJsonActiveMQ" version="1.0.2" targetFramework="net40-Client" />
</packages>