<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="database.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup><userSettings>
        <database.Properties.Settings>
            <setting name="TestDatabase" serializeAs="String">
                <value>Data Source="..\\data\\database\\sqlite\\sqlite3_test.db";Version=3;</value>
            </setting>
            <setting name="Test2Database" serializeAs="String">
                <value>Data Source="..\\data\\database\\sqlite\\sqlite3_test2.db";Version=3;</value>
            </setting>
        </database.Properties.Settings>
    </userSettings>
</configuration>
